<legend>Account Settings</legend>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= f.error_notification %>

    <div class="inputs">
      <%= f.input :name, :required => true, :autofocus => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%= f.input :password_confirmation, :required => false %>
      <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
    </div>

    <div class="form-actions">
      <%= button_for :back, :back, "Back" %>
      <%= f.button :submit, "Update" %>
    </div>
<% end %>
<h3>Delete Account</h3>
<legend></legend>
<p>Once you delete your account, there is no going back. Please be certain.</p>
<%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-danger"%>
